<article class="<%= article() %>">
  <div class="<%= heading_container() %>">
    <h1 class="<%= heading() %>">
      <%= gettext("Vertically centering things in css is easy!") %>
    </h1>
  </div>
</article>
