<article class="<%= article() %>" phx-click="hide-dropdown">
  <div class="<%= heading_container() %>">
    <h1 class="<%= heading() %>">
      <%= Gettext.with_locale(@current_locale, fn -> %>
        <%= gettext("Vertically centering things in css is easy!") %>
      <% end) %>
    </h1>
  </div>
</article>
