<%= with_locale(@locale, fn -> %>
  <article class="<%= article() %>"
           id="main-content"
           phx-click="hide-dropdown"
           phx-target="#main-content">
    <div class="<%= heading_container() %>">
      <h1 class="<%= heading() %>">
        <%= gettext("Vertically centering things in css is easy!") %>
      </h1>
    </div>
  </article>
<% end) %>
