<a href="?show_available_locales=<%= !@show_available_locales %>"
   class="<%= current_selection_link() %>">
  <p class="<%= current_selection(@show_available_locales) %>">
    <span><%= current_locale_string() %></span>
    <span class="<%= caret() %>">▾</span>
  </p>
</a>
