<p class="<%= current_selection(@show_available_locales) %>"
   name="current_locale"
   id="<%= @locale %>"
   phx-click="toggle"
   phx-hook="currentLocale"
   phx-target="<%= @myself %>">
  <span><%= locale_string(@locale) %></span>
  <span class="<%= caret() %>">▾</span>
</p>
