<div class="<%= dropdown_container() %>" phx-click="hide">
  <%= current_locale(@locale, @show_available_locales) %>
  <ul class="<%= dropdown_list(@show_available_locales) %>">
    <%= for locale <- @selectable_locales do %>
      <%= locale_list_item(locale) %>
    <% end %>
  </ul>
</div>
