<div class="<%= dropdown_container() %>">
  <%= current_locale(@path, @current_locale) %>
  <ul class="<%= dropdown_list() %>" id="locale_dropdown">
    <%= for locale <- @selectable_locales do %>
      <%= locale(@path, locale) %>
    <% end %>
  </ul>
</div>
