<%= live_component @socket,
                   LanguageDropdownLiveComponent,
                   id: :language_dropdown,
                   locale: @locale,
                   user_id: @user_id %>
<main role="main">
  <%= @live_view_module.render(assigns) %>
</main>
