<%= live_render @socket,
                LanguageDropdownLiveView,
                id: :language_dropdown,
                session: %{"locale" => @locale, "user_id" => @user_id} %>
<main role="main">
  <%= @live_view_module.render(assigns) %>
</main>
